body {
  background-color:rgb(61, 201, 226);
}
h1 {
  font-family: 'Times New Roman', Times, serif;
  color:rgb(99, 19, 5);
  text-align: left;

}
.fond {
  font-family: 'Times New Roman', Times, serif;
  color:rgb(49, 6, 6);
  text-align: left;
  font-size: 17px;
}
#cover {
  margin-left: auto;
  margin-right:auto; 
  margin-top:20px;
  border:5px solid rgb(26, 77, 13);
  background:#3d5e8f;
  border-radius: 22px;
}
.first {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 400px;
  width: 50;
  padding:2px;
  border-style: solid;
border-width: 1p5x;
border-top-color:blue;
border-right-color: green;
border-bottom-color: blue;
border-left-color: green;
border-radius: 22px;
}
 
table, th, td {
  border-style: solid;
    border-color: rgb(52, 52, 155);
    padding-right: 240px;
    padding-bottom: 5px;
    background-color:#0e9149;
    border-radius: 25px;
}
.river {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 25px;
}

.first2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  height: 600px;
  width: 50;
  
}
.second {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  height: 600px;
  width: 50;
  padding:2px;
  border:5px solid rgb(26, 77, 13);
  border-radius: 25px;
}
.third {
  height: 400px;
  width: 500;
}
.third {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  height: 600px;
  width: 50;
  padding:2px;
  border:5px solid rgb(26, 77, 13);
  border-radius: 25px;
}
@media only screen and (max-width: 600px) {
  body {
    background-color:blanchedalmond;
  }
}
.container .container1 {
display: flex;
background-color: blue;
justify-content: flex-end;

}
.container .container1 a {
  padding: 10px;
  font-size: 15px;
  color: white;
  text-decoration: none;
}
.sign1 {
float: left;
margin-bottom: 50px
border-radius: 25px;
}


.search {
  position: relative;
  left: 1000px;
  width:500px;
  margin-top: 100px;
}
.languages {
  position: relative;
  align-items: center;
}
.menu {
  display: flex;
  background-color:rgb(26, 77, 13);
  border-radius: 25px;
}
.menu > div {
  background-color: #0e9149;
  margin: 10px;
  padding: 20px;
  font-size: 20px;
  border-radius: 25px;
}
.fond2 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 25px
}
.footer ,p {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
  color: black;
}
